
  .form-control:focus{
  	border-color: red;
  }
  input[type=text]{
  	width:30%
  	padding:12px 20px;
  	margin:2px 0;
  	box-sizing: border-box;
  	border: 1px solid black;
  	border-radius:1px; 
  }
   input[type=number]{
  	width:30%
  	padding:12px 20px;
  	margin:2px 0;
  	box-sizing: border-box;
  	border: 1px solid black;
  	border-radius:1px; 
  }
  .a{background-color: white;height: 300px;}
 	 h1{color:red; text-align:center;}
  	h2{color:red;}
  	h3{color:red;}
	.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}
.btn{
border-radius:0px;}
p {
    margin: 0 0 4px;
}
label {
 font-weight:100;
}
.btn-primary {
    color: #fff;
    background-color: red;
   border-color: red; 
}
.btn-primary:hover {
    color: red;
    background-color: white;
    border:2px solid red;
}